# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# frontend dependencies
frontend_react/node_modules
frontend_react/build

# backend dependencies
backend_fastapi/.env
backend_fastapi/venv

backend_node/node_modules
backend_node/.env


# testing
/coverage


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
